// @charset "utf-8"
@import "~bulmaswatch/flatly/_variables.scss";
@import "variables";
@import "~bulma/bulma.sass";
@import "~bulma/sass/utilities/functions.sass";
@import "~bulmaswatch/flatly/variables";
@import "~bulmaswatch/flatly/_overrides.scss";
@import "~bulma-badge/dist/css/bulma-badge.sass";
@import '~bulma-helpers/bulma-helpers';
@import "colors";

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

.mh-100 {
  min-height: 100vh;
}

.navbar {
  border-radius: 0;
}
#app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.navbar {
  a.navbar-item:first-of-type {
    padding: 0 4px;
    &:hover {
      background: $primary;
    }
  }
}

.is-flex, .is-inline-flex {
  &.align-items-center {
    align-items: center;
  }
}


.project {
  color: $project;

  &.progress {
    &::-webkit-progress-value {
      background-color: $project;
    }
    &::-moz-progress-bar {
      background-color: $project;
    }
    &::-ms-fill {
      background-color: $project;
    }
  }

  &.button {
    color: findColorInvert($project);
    background-color: $project;
  }

  & [data-badge]::after {
    background: $project;
    color: findColorInvert($project);
  }

  & .steps:not(.is-hollow) .steps-marker:not(.is-hollow) {
    background-color: $project;
    color: findColorInvert($project);
  }
}

.record {
  color: $record;

  &.progress {
    &::-webkit-progress-value {
      background-color: $record;
    }
    &::-moz-progress-bar {
      background-color: $record;
    }
    &::-ms-fill {
      background-color: $record;
    }
  }

  &.button {
    color: findColorInvert($record);
    background-color: $record;
  }

  & [data-badge]::after {
    background: $record;
    color: findColorInvert($record);
  }
}

.is-fullwidth {
  width: 100%;
}

.corner-2-right {
  margin-left: auto;
}

.avatar .image svg {
  width: 100%;
  height: 100%;
}

.searchResults {
  top: 15px;
}

.vue2leaflet-map {
  z-index: 10;
}

.has-badge-project::after {
  // font-family: "Font Awesome Free";
  // content: "\f15b";
  background: $project;
}

.has-badge-record::after {
  background: $record;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
.file-list {
  display: flex;
  flex-wrap: wrap;
}
.file-item {
  display: inline-block;
  margin: 10px;
  .file-item__actions {
    margin-top: 5px;
  }
}

.card {
  &.project {
    .progress {
      color: $project;
    }
  }
}
.progress {
  &.progress--project-card {
    margin-bottom: 5px;
    height: 6px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.user {
  &.avatar {
    figure {
      min-height: 32px;
    }
  }
}
